:root {
  --primary-button-color: #f3f3f3;
  --primary-button-font-color: #8a8a8a;
  --primary-button-color-hover: #ececec;
  --primary-button-color-active: #e6e6e6;
}

.fc-event {
  position: relative;
  /* Set original background color and other styles */
  /* background-color: #4f4f4f !important; */
  border-color: #e9e9e999 !important;
  border-radius: 0px;
  transition: 0.1s background-color ease-in-out !important;
}

.fc-event::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* background-color: rgba(221, 221, 221, 0); */
  transition: background-color 0.1s ease-in-out;
  pointer-events: none;
}

.fc-event:hover::before {
  background-color: rgba(229, 229, 229, 0.3);
}

.fc-event:active::before {
  background-color: rgba(254, 254, 254, 0.222) !important;
}

.fc-prev-button,
.fc-next-button,
.fc-CreateEventButton-button {
  background-color: var(--primary-button-color) !important;
  color: var(--primary-button-font-color) !important;
  padding: 5px !important;
  border: none !important;
  transition: background-color 0.15s ease !important;
}

.fc-CreateEventButton-button {
  border-radius: 5px !important;
  padding: 6px 9px !important;
}

.fc-dayGridMonth-button {
  background-color: var(--primary-button-color) !important;
  color: var(--primary-button-font-color) !important;
  padding: 5px 9px !important;
  border: none !important;
  border-radius: 5px !important;
  transition: background-color 0.15s ease !important;
}

.fc-dayGridMonth-button:hover,
.fc-prev-button:hover,
.fc-next-button:hover,
.fc-CreateEventButton-button:hover {
  background-color: var(--primary-button-color-hover) !important;
}

.fc-dayGridMonth-button:active,
.fc-prev-button:active,
.fc-next-button:active,
.fc-CustomEventButton-button:active {
  border: none !important;
  background-color: var(--primary-button-color-active) !important;
}

.fc-toolbar-title {
  font-size: 1.45em !important;
}

.fc-header-toolbar {
  background-color: rgba(183, 183, 183, 0.131);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px !important;
}

.fc-event-main {
  padding: 3px;
  font-weight: 600;
  border-radius: 0px !important;
  cursor: pointer;
}

.fc-timegrid-slot,
.fc-day,
.fc-daygrid-body {
  border: 1px solid rgba(210, 210, 210, 0.449) !important;
}
.fc-day-today {
  background-color: rgba(0, 119, 255, 0.074) !important;
}
